<div>
    <h2>Leaderboard</h2>
    <div class="table table-striped table-hover dt-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>MPH</th>
            </tr>
        </thead>
        <tbody>
        {{#each model as |item index|}}
        <tr>
            <td>{{increased_index index}}</td>
            <td>{{item.user}}</td>
            <td>{{item.mph}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    </div>
</div>
