<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            There will be animation
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2>Deep traffic</h2>
            <div>
                <div id="container" style="width: 100%; height: 25em; border:1px solid grey; margin-bottom: 2em"></div>

                <script>
                    'use strict';
                    const _loader = require('monaco-loader');
                    _loader().then((monaco) => {
                        let editor = monaco.editor.create(document.getElementById('container'), {
                            language: 'javascript',
                            theme: 'vs',
                            automaticLayout: true
                        });
                    });
                </script>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: start">
                    <input type="button" value="Apply code / Reset net" class="btn btn-primary">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: end">
                    <input type="button" value="Subbmit model to competition" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>