<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2">
            There will be animation
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10">
            <h2>Deep traffic</h2>
            <div>
                <textarea class="">User's code</textarea>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <input type="button" value="Apply code / Reset net">
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <input type="button" value="Subbmit model to competition">
                </div>
            </div>
        </div>
    </div>
</div>